.statusButton {
    display: block;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.statusProvided {
    background-color: rgb(117, 243, 243);
    color: black
}
.statusAccepted {
    background-color: greenyellow; /* žalia spalva */
    color: black
}

.statusRejected {
    background-color: plum; /* raudona spalva */
    color: black;
}

.statusInsufficientData {
    background-color: rgb(241, 187, 86); /* oranžinė spalva */
    color: black;
}