.container {
    margin: 0;
    padding: 0;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-image: url('./assets/Vilnius_Seimas.jpg');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
  }